.Nav {
    background-color: white;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.Nav___scrollable {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 100%;
}

.Nav___scrollable::-webkit-scrollbar {
    width: 4px;
}

.Nav___scrollable::-webkit-scrollbar-track {
    background: white;
}

.Nav___scrollable::-webkit-scrollbar-thumb {
    background: var(--purple50);
}

.Nav___desktop {
    width: calc(11rem + 4px);
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.Nav___tucked {
    width: calc(2rem + 4px);
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.Nav___untucked {
    width: 100%;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}




.NavButton {
    background: none;
    border: none;
    cursor: pointer;
    margin: 4px;
    outline: none;
    position: relative;
}

.NavButton_img {
    position: absolute;
    width: 36px;
}

.NavButton_img___hover {
    opacity: 0;
    position: absolute;
    left: 0;
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.NavButton:hover .NavButton_img___hover {
    opacity: 1;
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.NavButton:focus .NavButton_img___hover {
    opacity: 1;
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
}




.NavDiv {
    padding-bottom: 2rem;
}

.NavDiv___untucked {
    text-align: center;
}




.NavLogo {
    position: relative;
    text-decoration: none;
}

.NavLogo:focus {
    outline: none;
}

.NavLogo_img {
    display: inline-block;
    padding: 1.5rem 0 0 1.5rem;
}

.NavLogo_img___hover {
    opacity: 0;
    position: absolute;
    left: 0;
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.NavLogo:hover .NavLogo_img___hover {
    opacity: 1;
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.NavLogo:focus .NavLogo_img___hover {
    opacity: 1;
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.NavLogo_name {
    color: var(--purple50);
    font-family: 'Roboto Mono', monospace;
    line-height: initial;
    margin: 0;
    padding: 0 0 0 1.5rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
}

.NavLogo_name___first{
    font-size: 1.9rem;
    letter-spacing: 0.2em;
    line-height: 1em;
    margin-top: 0.4rem;
    text-transform: uppercase;
}

.NavLogo_name___middle {
    font-size: 1.9rem;
    letter-spacing: 0.2em;
    line-height: 1em;
    text-transform: uppercase;
}

.NavLogo_name___last {
    font-size: 1.25rem;
    letter-spacing: 0.4em;
    line-height: 1em;
    text-transform: lowercase;
}




.NavA {
    color: var(--purple50);
    display: block;
    letter-spacing: 0.2em;
    margin-right: 1.5rem;
    padding: 0.2rem 0 0.3rem 1.5rem;
    text-decoration: none;
    transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Modified from hover.css */

.hvr-underline-from-left___App {
    overflow: hidden;
    position: relative;
    transform: perspective(1px) translateZ(0);
    vertical-align: middle;
}

.hvr-underline-from-left___App:before,
.hvr-underline-from-left___App:after {
    background: var(--purple50);
    bottom: 0;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    right: 100%;
    transition: right 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: -1;
}

.hvr-underline-from-left___App:hover:before,.hvr-underline-from-left___App:focus:before {
    right: 0;
    transition: right 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.hvr-underline-from-left___App___active:after {
    height: 2px;
    right: 0;
    transition: right 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}




.displayBlock {
    display: block;
}

.displayInlineBlock {
    display: inline-block;
}

.displayNone {
    display: none;
}

.visible {
    opacity: 1;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.invisible {
    opacity: 0;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.Nav_scrollableDiv {
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}







.HeaderMainWrapper___desktop {
    margin: 0 1.5rem 0 11rem;
    padding: 2.5rem 8vw 3rem 8vw;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.HeaderMainWrapper___mobile {
    margin: 0 0 0 2rem;
    padding: 1rem;
    transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
}