.Main_text {
    max-width: 35rem;
}

.Main_grid {
    margin-top: 3rem;
}

.Main_onlinePresence {
    text-align: right;
}

.H3___creation {
    display: inline-block;
    margin: 0 0 1rem; 
}

.FrontImage {
    margin-bottom: 3rem;
}

.Main_creationInfo {
    margin-bottom: 1rem;
}

.BackImage {
    margin: 0 5vw;
}