.Main_text {
    max-width: 35rem;
}

.Main_grid {
    margin-top: 3rem;
}

.Main_grid___A {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
    .Main_grid___A {
        grid-template-columns: 1fr;
        grid-template-rows: auto; 
    }
}

@media only screen and (max-width: 500px) {
    .Main_grid___A {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}


.Main_onlinePresence {
    text-align: right;
}

.H3___creation {
    display: inline-block;
    margin: 0 0 1rem; 
}

.FrontImage {
    margin-bottom: 3rem;
}

.Main_creationInfo {
    margin-bottom: 1rem;
}

.BackImage {
    margin: 0 5vw;
}